.color-dribbble:hover {
  color: $color-social-dribbble;
}

.color-facebook:hover {
  color: $color-social-facebook;
}

.color-github:hover {
  color: $color-social-github;
}

.color-linkedin:hover {
  color: $color-social-linkedin;
}

.color-twitter:hover {
  color: $color-social-twitter;
}

.color-youtube:hover {
  color: $color-social-youtube;
}
