.fade-in {
  animation: fade-in ease-in 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;

  &.footer {
    animation-duration: 0.25s;
  }
}

.no-js {

  .preview {
    display: none;
  }
}

// .preload * {
//   transition: none !important;
// }

// .preload.medium-zoom--open * {
//   transition: inherit !important;
// }

.supports.cssfilters {
  /* stylelint-disable plugin/no-unsupported-browser-features */
  @supports (filter: blur()) {

    .blur-up {
      // Progressive enhansment nice to have filter
      filter: blur(20px);
      opacity: 0;

      &.lazyloading,
      &.lazyloaded {
        // Progressive enhansment nice to have filter
        filter: blur(0);
        opacity: 1;
        transition: all 200ms ease-in;
      }
    }
  }
  /* stylelint-enable */
}

::selection {
  background-color: lighten($color-blue, 50%);
  color: inherit;
  text-shadow: none;
}

@at-root {
  @viewport {
    width: device-width;
  }
}

@keyframes fade-in {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* stylelint-disable media-feature-name-no-unknown */
@media (prefers-reduced-motion: reduce) {

  * {
    animation: none !important;
    transition: none !important;
  }
}
/* stylelint-enable */

[tabindex='-1']:focus {
  /* stylelint-disable plugin/no-unsupported-browser-features */
  outline: 0 !important;
  /* stylelint-enable */
}
