# Security
<IfModule mod_setenvif.c>
  <IfModule mod_headers.c>
    <FilesMatch "\.(gif|ico|jpg|png|svg|webp|woff2?)$">
      SetEnvIf Origin ":" IS_CORS
      Header set Access-Control-Allow-Origin "*" env=IS_CORS
    </FilesMatch>
  </IfModule>
</IfModule>
<IfModule mod_autoindex.c>
  Options -Indexes
</IfModule>
<IfModule mod_headers.c>
  Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains;"
  Header always set X-Frame-Options SAMEORIGIN
  Header set Access-Control-Allow-Origin "*"
  Header set Content-Security-Policy "\
    default-src 'none';\
    font-src dondibogusky.com fonts.gstatic.com;\
    frame-src dondibogusky.com platform.twitter.com;\
    img-src data: dondibogusky.com i.ytimg.com stats.g.doubleclick.net www.google-analytics.com www.googletagmanager.com;\
    script-src 'unsafe-inline' dondibogusky.com code.jquery.com use.fontawesome.com www.google-analytics.com www.googletagmanager.com ajax.googleapis.com platform.twitter.com;\
    style-src 'unsafe-inline' dondibogusky.com fonts.googleapis.com"
  Header set X-XSS-Protection "1; mode=block"
  <FilesMatch "404.html">
    Header set Content-Security-Policy "\
      default-src 'none';\
      style-src 'unsafe-inline'"
  </FilesMatch>
  <FilesMatch "\.(css|gif|ico|jpg|js|json|manifest|map|pdf|png|rdf|rss|svg|webp|woff2?|xml)$">
    Header unset Content-Security-Policy
  </FilesMatch>
</IfModule>

# Errors
ErrorDocument 404 /404.html
Options -MultiViews

# Internet Explorer
<IfModule mod_headers.c>
  Header set X-UA-Compatible "IE=edge"
  <FilesMatch "\.(css|gif|ico|jpg|js|json|manifest|map|pdf|png|rdf|rss|svg|webp|woff2?|xml)$">
    Header unset X-UA-Compatible
  </FilesMatch>
</IfModule>

# PageSpeed
<IfModule pagespeed_module>
  ModPagespeed off
</IfModule>

# Performance
<IfModule mod_deflate.c>
  AddOutputFilter DEFLATE js css
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/xml application/xhtml+xml application/rss+xml application/javascript application/x-javascript
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>
<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>
<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 week"
  ExpiresByType image/x-icon "access plus 1 week"
  ExpiresByType image/gif "access plus 1 week"
  ExpiresByType image/png "access plus 1 week"
  ExpiresByType image/jpg "access plus 1 week"
  ExpiresByType text/css "access 1 week"
  ExpiresByType application/javascript "access plus 1 week"
  ExpiresByType application/x-javascript "access plus 1 week"
</IfModule>

# Rewrites
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP:Accept-Language} ^pt [NC]
  RewriteRule .* - [F,L]
</IfModule>
